{% extends "layout.html" %}
{% block main %}
<div id="mainMessage">Volunteers Identified and Deployed</div>
<div id="mainBody">
    <p>We apply rigor in finding those who are best suited to roll up their sleeves, pitch in, and go to work wherever the greatest need is.</p>
    <p>Our volunteers are sourced from within as well as from other organizations who are ready to help, but may have questions as to the best timing and location of assistance requests.</p>
    <p>Once a team has been assembled, our dispatchers, aided by software systems, direct volunteer efforts where the greatest impact can be made.</p>
    <p>Volunteers closest to hotspots are notified and their availability verified. Volunteers with vehicles have the option of picking up supplies and/or other volunteers, increasing the efficiency of routing.</p>
</div>
{% endblock %}
