{% extends "layout1.html" %}
{% block main %}
	<div id="mainMessage">Thank you for your interest in partnering with M.R.C.L.</div>
	<p>We are in the deepest debt of gratitude to all those who contribute to the possiblity we are creating - that <i>no one is left out</i> in the wake of a disaster.</p>
	<p>We are committed that the right resources make it to the right people in a timely manner, not only to those in need, but also to those who give of their time and energy to make sure things get where they need to go so that each and every person's needs are specifically attended to.</p>
	<p>Your partnership is critical to us in fulfilling that mission: Our efforts are entirely funded by donations from the general public. <i><b>Without you, we simply could not exist</b></i>.</p>
	<p>If you'd like to contribute alongside us as we make a real difference in the world, click the button below to view our crowd-funding campaign.</p>
	<center><button>GoFundMe.com</button></center>
{% endblock %}