{% extends "layout.html" %}
{% block main %}
    <div id="mainMessage"><center>Our commitment</center></div>
    <p>Standing in the possibility of no one left out, <i><b>M.R.C.L.</b></i> creates and promotes collaboration and communication to serve people and animals impacted by natural disaster, creating software and cooperative actions for service.</p>
    <p>Rather than maintaining ownership of resources, our focus is on allocation, routing, and distribution. Through comprehensive review of existing infrastructures, social patterns, data analysis, collaborative input, and past experience, we specialize in getting the right things to the right places by the right people - on time.</p>
    <p>Google defines the term, "miracle" as "a highly improbable or extraordinary event, development, or accomplishment that brings very welcome consequences".</p>
{% endblock %}
