<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
        <meta name="google-site-verification" content="-UKgfQLlJlG39gkl9fdauoL5ZjEt6N_FT_lgQCOZ0Xk" />
    </head>
    <body>
        <div id="header">
            <span style="text-shadow:1px 1px 2px silver"><b><a href="/" id="logo">MRCL</a></b></span> | <span class="alliteration">M</span>iracle <span class="alliteration">R</span>elief <span class="alliteration">C</span>ollaboration <span class="alliteration">L</span>eague
            <span class="admin" style="margin-right: 2.5em;"><a href="/login">Login</a></span>
            <span class="admin"><a href="/about">About Us</a></span>
            <span class="admin donate"><a href="/donate"><button id="donate">Donate</button></a></span>
        </div>
        <nav>
            <ul>
                <li class="currentMenuItem"><a href="/needs">Assistance Requests</a></li>
                <li class="currentMenuItem"><a href="/contributors">Contributors</a></li>
                <li class="currentMenuItem"><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/resources/volunteers">Volunteers</a></li>
                        <li><a href="/resources/vehicles">Vehicles</a></li>
                        <li><a href="/resources/supplies">Supplies</a></li>
                    </ul>
                </li>
                <li class="currentMenuItem"><a href="">Collaborators</a>
                    <ul>
                        <li><a href="/collaborators/shelters">Shelters</a></li>
                        <li><a href="/collaborators/distribution_centers">Distribution Centers</a></li>
                        <li><a href="/collaborators/teams">Teams</a>
                            <ul>
                                <li><a href="/collaborators/teams/boots">Boots on the Ground</a></li>
                            </ul>
                        </li>
                        <li><a href="/collaborators/liaisons">Liaisons</a></li>
                    </ul>
                </li>
                <li class="currentMenuItem"><a href="/events">Events</a></li>
            </ul>
        </nav>
        <div id="main">
            {% block main %}{% endblock %}
        </div>
        <div id="footer"></div>
    </body>
</html>
