<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/layout1.css">
    </head>
    <body>
        <div id="header">
            <span style="text-shadow:1px 1px 2px silver"><b><a href="/" id="logo">MRCL</a></b></span> | <span class="alliteration">M</span>iracle <span class="alliteration">R</span>elief <span class="alliteration">C</span>ollaboration <span class="alliteration">L</span>eague
            <span class="admin" style="margin-right: 4em;"><a href="/login">Login</a></span>
            <span class="admin"><a href="/signup">Signup</a></span>
            <span class="admin donate"><a href="/donate"><button id="donate">Donate</button></a></span>
        </div>
        <div id="navbar">
            <center>
                <a href="/needs"><span class="nav">Assistance Requests</span></a>
                <a href="/volunteers"><span class="nav">Volunteers</span></a>
                <a href="/contributors"><span class="nav">Contributors</span></a>
                <a href="/resources"><span class="nav">Resources</span></a>
                <a href="/collaborators"><span class="nav">Collaborators</span></a>
                <a href="/teams"><span class="nav">Teams</span></a>
                <a href="/liaison"><span class="nav">Liaison</span></a>
                <a href="/events"><span class="nav">Events</span></a>
            </center>
        </div>
        <div id="main">            
            {% block main %}{% endblock %}
        </div>
        <div id="footer"></div>
    </body>
</html>