{% extends "layout.html" %}
{% block main %}
<div id="mainMessage">Needs Addressed and Fulfilled</div>
<div id="mainBody">
	<p>We identify needs in communities impacted by disasters as well as those who are currently and have historically been overlooked in rescue, recovery, and rebuilding efforts.</p>
	<p>By maintaining an accurate and up-to-date log of people who are in need, we focus on getting the right people to them in a timely fashion to ensure their safety and that their needs are met as they are transitioned to shelters and when they return to their homes.</p>
	<p>For those who are totally displaced, we continue to research and make connections with organizations and instiutions best equipped to aid in the specific need of those tragically displaced by disaster so that they can find affordable housing and get plugged into their new communities.</p>
</div>
{% endblock %}
